In [1]:
import pandas as pd
import numpy as np

In [2]:
anime_data = pd.read_csv('anime.csv')
anime_data.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [3]:
anime_data.shape

(12294, 7)

In [4]:
anime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

**2) Modifying datasets**

In [5]:
anime_data.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [6]:
anime_data.dropna(inplace=True)
anime_data.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [7]:
#now all data is unique
anime_data.shape

(12017, 7)

In [8]:
anime_data.reset_index(drop=True,inplace=True)
anime_data.tail()

,anime_id,name,genre,type,episodes,rating,members
12012,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12013,5543,Under World,Hentai,OVA,1,4.28,183
12014,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12015,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12016,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [9]:
anime_data= anime_data.rename(columns={'rating':'avg_rating'})
anime_data.head()

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

**3) Datasets statistics**

In [10]:
anime_data.describe()

           anime_id    avg_rating       members
count  12017.000000  12017.000000  1.201700e+04
mean   13638.001165      6.478264  1.834888e+04
std    11231.076675      1.023857  5.537250e+04
min        1.000000      1.670000  1.200000e+01
25%     3391.000000      5.890000  2.250000e+02
50%     9959.000000      6.570000  1.552000e+03
75%    23729.000000      7.180000  9.588000e+03
max    34519.000000     10.000000  1.013917e+06

In [11]:
anime_data['anime_id'] = anime_data['anime_id'].astype(object)

In [12]:
anime_data.describe()

         avg_rating       members
count  12017.000000  1.201700e+04
mean       6.478264  1.834888e+04
std        1.023857  5.537250e+04
min        1.670000  1.200000e+01
25%        5.890000  2.250000e+02
50%        6.570000  1.552000e+03
75%        7.180000  9.588000e+03
max       10.000000  1.013917e+06

In [13]:
#pd.plotting.scatter_matrix(anime_data,figsize=(10,12));

**4) Visualization**

In [14]:
anime_data['genre'].value_counts().head()

Hentai                   816
Comedy                   521
Music                    297
Kids                     197
Comedy, Slice of Life    174
Name: genre, dtype: int64

In [15]:
#anime_data['genre'].value_counts().sort_values(ascending=False).head(10).plot(kind='bar');
#plt.ylabel('number of genre')
#plt.xlabel("Anime's genre")
#plt.title('Top 10 most prefered genre');

In [16]:
#anime_data['type'].value_counts()

In [17]:
#anime_data['type'].value_counts().plot(kind='pie',figsize=(10,8),autopct='%.0f%%');

**5) Cosine similarity**

In [18]:
anime_data['name'].head(10) #2

0                                       Kimi no Na wa.
1                     Fullmetal Alchemist: Brotherhood
2                                             Gintama°
3                                          Steins;Gate
4                                        Gintama&#039;
5    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...
6                               Hunter x Hunter (2011)
7                                 Ginga Eiyuu Densetsu
8    Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...
9                             Gintama&#039;: Enchousen
Name: name, dtype: object

Removing special symbols in the name

In [19]:
import re #2

In [20]:
def sym_cleaning(symbol): #2
    symbol = re.sub(r'&quot;', '', symbol)
    symbol = re.sub(r'.hack//', '', symbol)
    symbol = re.sub(r'&#039;', '', symbol)
    symbol = re.sub(r'A&#039;s', '', symbol)
    symbol = re.sub(r'I&#039;', 'I\'', symbol)
    symbol = re.sub(r'&amp;', 'and', symbol)
    symbol = re.sub(r'[.;!!:-]','', symbol)
    symbol = re.sub(r'°','', symbol)
    
    return symbol

anime_data['name'] = anime_data['name'].apply(sym_cleaning)

In [21]:
anime_data['name'] = anime_data['name'].apply(sym_cleaning)

In [22]:
anime_data[['name']].head(10) #2

                                                name
0                                      Kimi no Na wa
1                    Fullmetal Alchemist Brotherhood
2                                            Gintama
3                                         SteinsGate
4                                            Gintama
5  Haikyuu Karasuno Koukou VS Shiratorizawa Gakue...
6                             Hunter x Hunter (2011)
7                               Ginga Eiyuu Densetsu
8   Gintama Movie Kanketsuhen  Yorozuya yo Eien Nare
9                                  Gintama Enchousen

In [23]:
anime_data.drop_duplicates(subset=['name'],inplace =True)
#anime_data['name'].drop_duplicates(subset=['name'],inplace=True)

In [24]:
anime_data['name'].value_counts()

RD Sennou Chousashitsu                                                   1
Doraemon Movie 34 Shin Nobita no Daimakyou  Peko to 5nin no Tankentai    1
Hinomaru Hatanosuke Inazumagumi Tobatsu no Maki                          1
Tokubetsu Jugyou                                                         1
Kabushikigaisha Aokishouji                                               1
                                                                        ..
Needless                                                                 1
Genki Genki Nontan Spoon Tan Tan Tan                                     1
Brotherhood Final Fantasy XV                                             1
Xiong Chumo Zhi Xueling Xiongfeng                                        1
Muumin                                                                   1
Name: name, Length: 11995, dtype: int64

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define count vectorizer
count = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

#replace nan values with ""
#anime_data['genre'] = anime_data['genre'].fillna('')
#genre_str = anime_data['genre'].str.split(',').astype(str)

count_matrix = count.fit_transform(anime_data['genre'])

count_matrix.shape

(11995, 1547)

47 different vocab(genre) out of 12017 anime

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
#computing cosine similarity matrix
cos_similar = cosine_similarity(count_matrix, count_matrix)

In [28]:
cos_similar.shape

(11995, 11995)

In [29]:
cos_similar[1]

array([0.02301766, 1.        , 0.02514031, ..., 0.        , 0.        ,
       0.        ])

define a function that takes anime title(name) and outputs 10 similar anime acc to the genre

In [30]:
indices = pd.Series(anime_data.index,index=anime_data['name'])

In [31]:
indices[:10]

name
Kimi no Na wa                                              0
Fullmetal Alchemist Brotherhood                            1
Gintama                                                    2
SteinsGate                                                 3
Haikyuu Karasuno Koukou VS Shiratorizawa Gakuen Koukou     5
Hunter x Hunter (2011)                                     6
Ginga Eiyuu Densetsu                                       7
Gintama Movie Kanketsuhen  Yorozuya yo Eien Nare           8
Gintama Enchousen                                          9
Clannad After Story                                       10
dtype: int64

In [32]:
def anime_rec(title,cos_similar = cos_similar):
    #get the index of anime that matches the title
    anime_idx = indices[title]
    
    #put the pairwise similarity score in a list
    similar_score = list(enumerate(cos_similar[anime_idx]))
    
    #sort based on similar scores
    similar_score = sorted(similar_score, key=lambda x: x[1],reverse=True)
    
    #get the top 10 similar scores
    similar_score = similar_score[1:11]
    
    #get anime indices
    anime_indices = [i[0] for i in similar_score]
    
    #return top 10 similarity scores
    return anime_data['name'].iloc[anime_indices]

In [33]:
anime_rec('Haikyuu')

323                         ef A Tale of Melodies
77      Kara no Kyoukai 7 Satsujin Kousatsu (Kou)
506     Kara no Kyoukai 2 Satsujin Kousatsu (Zen)
1994                                  Angel Heart
1014            Kara no Kyoukai 6 Boukyaku Rokuon
1998                         Bakemonogatari Recap
392                         ef A Tale of Memories
1410         ef A Tale of Memories  Recollections
1908                                         Noir
297            Kara no Kyoukai 3 Tsuukaku Zanryuu
Name: name, dtype: object

In [130]:
anime_rec('Toradora')

35                                     Howl no Ugoku Shiro
723                               Hai to Gensou no Grimgar
4001                                        Vampire Hunter
4848                                           Palme no Ki
10663                                 Wan Wan Chuushingura
1991       Tsubasa Chronicle Tori Kago no Kuni no Himegimi
1071                          Tsubasa Chronicle 2nd Season
446                                 Saiyuuki Reload Burial
519                                        Saiyuuki Gaiden
1945     Pokemon Advanced Generation Mew to Hadou no Yu...
Name: name, dtype: object

In [109]:
anime_rec('Naruto')

1403                  Blood Lad
1805              Trinity Blood
8260              Burning Blood
11688              Blood Royale
11816              Pigeon Blood
1800           Strike the Blood
2358       Black Blood Brothers
4091     Tekken Blood Vengeance
465         Strike the Blood II
3361     Blood The Last Vampire
Name: name, dtype: object

In [110]:
anime_rec('Gintama')

9                               Gintama Enchousen
3245                          Gintama x Mameshiba
41                        Gintama Aizome Kaorihen
171                     Gintama Shiroyasha Koutan
216                Gintama Shinyaku Benizakurahen
316                         Gintama Dai Hanseikai
65           Gintama Movie Shinyaku Benizakurahen
306               Gintama Jump Festa 2014 Special
361               Gintama Jump Festa 2015 Special
63      Gintama Yorinuki Gintamasan on Theater 2D
Name: name, dtype: object

In [111]:
anime_rec('Kimi no Na wa')

16                            Shigatsu wa Kimi no Uso
4839                            Kaze no Na wa Amnesia
11197                            Kimi no Na wo Yobeba
843                   Shigatsu wa Kimi no Uso Moments
2077               Kimi no Kokoro wa Kagayaiteru kai?
11050                      Kimi no Mana wa Rina Witch
4556                                 Karakuri no Kimi
6429     Sagashita no wa Oheya, Mitsuketa no wa Mirai
7211                                Kimi wa Tomodachi
10159                      Shibawanko no Wa no Kokoro
Name: name, dtype: object

In [112]:
anime_data.head()

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,SteinsGate,"Sci-Fi, Thriller",TV,24,9.17,673572
5,32935,Haikyuu Karasuno Koukou VS Shiratorizawa Gakue...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351